@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* Variables globales */
:root {
    --primary-color: #0d6efd;
}

html, body{
    height: 100%;
    overflow: hidden;
}

/* Estilos base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

#mainContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

/* Footer */
.footer-text {
    display: flex;
    justify-content: center;
}

/* Header */
.header {
    background-color: var(--primary-color);
    position: relative;
    top: 0;
    color: white;
    padding: 1rem;
    z-index: 2;
    flex-shrink: 0;
}

/* Botones de fechas */
.date-btn {
    background: none;
    border: none;
    color: white;
    padding: 0.5rem;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease;
}

.date-btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

.date-btn.active::after {
    width: 100%;
}

.date-btn:hover {
    transform: translateY(-2px);
}

/* Eventos */
.event {
    opacity: 0;
    transform: translateX(-20px);
    animation: slideIn 0.5s forwards;
    width: 100%;
    position: relative;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Contenedor y animación de programación */
.schedule-container {
    position: relative;
    -webkit-overflow-scrolling: touch; /* Para mejor scroll en iOS */
    flex: 1;
    overflow-y: auto;
    padding-bottom: 10vh; /* Espacio para que no tape el footer */
}

.schedule {
    position: absolute;
    width: 100%;
    transition: opacity 0.3s ease, transform 0.3s ease;
    min-height: min-content; /* Asegura que tome al menos el espacio de su contenido */
}

.schedule.fade-out {
    opacity: 0;
    transform: translateX(-20px);
}

.schedule.fade-in {
    opacity: 1;
    transform: translateX(0);
}

.fixed-bottom {
    z-index: 1;
}
/* Navegación inferior */
.bottom-nav {
    background-color: var(--primary-color);
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.bottom-nav button {
    background: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    transition: transform 0.3s ease;
}

.bottom-nav button:hover {
    transform: scale(1.2);
}

/* Evento de tipo receso */
.event.break {
    background-color: #00ffea52;
}

/* Barra lateral */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: width 0.5s;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: flex-start;
}

.sidebar img {
    display: block;
    margin: 0 auto 20px;
    width: 50%;
    border-radius: 5%;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: color 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 36px;
    margin-left: 50px;
}

/* Clase para el efecto de desenfoque */
.blurred {
    filter: blur(2px) brightness(0.7);
    backdrop-filter: blur(10px);
    transition: filter 0.3s ease;
}

#searchBoxContainer {
    display: none; /* Inicialmente oculto */
    position: absolute;
    top: 50px; /* Ajusta según donde quieras la caja */
    left: 0;
    right: 0;
    padding: 10px;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    animation: slideIn 0.3s forwards;
  }
  
  .search-box {
    width: 100%;
    padding: 8px;
    border-radius: 15px;
    border: 1px solid #ccc;
  }
  
  @keyframes slideIn {
    from {
      transform: translateY(-20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  /* Estilo de resaltar eventos */
  .highlight {
    background-color: rgba(100, 149, 237, 0.3); /* Azul suave con opacidad */
    border-radius: 5px;
  }
  
  